<section class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row justify-content-center">
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-6 align-content-start">
                  <p class="h5">Filter</p>
                </div>
                <div class="col-6 align-content-end">
                  <button type="button" class="btn btn-link ms-auto me-0">Wyczyść wszystkie filtry</button>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <div class="row">
                <div class="col">
                  <p class="h5">Sortuj</p>
                  <select class="form-select">
                    <option selected>Wybierz typ</option>
                    <option *ngFor="let sort of sortingTypes; let i = index" [value]="i+1">{{sort.typeName}}</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12" [formGroup]="customSelects">
              <div class="row">
                <p class="h5">Marka/Model</p>
                <div class="col-12 mb-3 position-relative customBrandSelectAlias customBrandSelect">
                  <label for="customBrandSelect" class="form-label">Marka pojazdu</label>
                  <input [(ngModel)]="brandSearchTerm" [ngModelOptions]="{ standalone: true }" type="text" class="form-control" placeholder="Marka pojazdu" (click)="displayBrandSelectOptions()">
                  <div class="options position-absolute w-auto" formGroupName="brandOptions" *ngIf="areBrandsLoaded && !brandOptionsHidden">
                    <div class="option d-flex" *ngFor="let brand of filterBrands()">
                      <input type="checkbox" id="{{brand.brandName}}" name="{{brand.brandName}}" formControlName="{{brand.brandName}}" (change)="updateChoosenBrandsOrModels('brand', brand.brandName)" />
                      <label class="label-box flex-grow-1" for="{{brand.brandName}}">{{brand.brandName}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-3 position-relative customModelSelectAlias customModelSelect">
                  <label for="customModelSelect" class="form-label">Marka pojazdu</label>
                  <input [(ngModel)]="modelSearchTerm" [ngModelOptions]="{ standalone: true }" type="text" class="form-control" placeholder="Model pojazdu" (click)="displayModelSelectOptions()">
                  <div class="options position-absolute w-auto" formGroupName="modelOptions" *ngIf="!modelOptionsHidden">
                    <div class="option d-flex" *ngFor="let model of filterModels()">
                      <input type="checkbox" id="{{model.modelName}}" name="{{model.modelName}}" formControlName="{{model.modelName}}" (change)="updateChoosenBrandsOrModels('model', model.modelName)" />
                      <label class="label-box flex-grow-1" for="{{model.modelName}}">{{model.modelName}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <p class="h5">Rodzaj Paliwa</p>
              <div class="row">
                <div class="col m-1" *ngFor="let fuel of fuels">
                  <input type="checkbox" class="btn-check" id="{{fuel.fuelName}}Btn" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{fuel.fuelName}}Btn">{{fuel.fuelName}}</label>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <p class="h5">Cena Za Dzień</p>
              <div class="row">
                <div class="col-12 m-1" *ngFor="let priceRange of priceRanges">
                  <input type="checkbox" class="btn-check" id="Range{{priceRange.priceRangeId}}Btn" autocomplete="off">
                  <label class="btn btn-outline-primary" for="Range{{priceRange.priceRangeId}}Btn">{{priceRange.priceRangeMin}}-{{priceRange.priceRangeMax}}</label>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <p class="h5">Typ Nadwozia</p>
              <div class="row">
                <div class="col-12 m-1" *ngFor="let carbody of carbodies">
                  <input type="checkbox" class="btn-check" id="{{carbody.carbodyName}}" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{carbody.carbodyName}}">{{carbody.carbodyName}}</label>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <p class="h5">Skrzynia Biegów</p>
              <div class="row">
                <div class="col-12 m-1" *ngFor="let transmission of transmissionTypes">
                  <input type="checkbox" class="btn-check" id="{{transmission.typeName}}" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{transmission.typeName}}">{{transmission.typeName}}</label>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="col-9">
          <div class="row">
              <div class="col-12">
                <img [src]="mainBanner" class="w-100" alt="main banner" />
              </div>
          </div>
          <div class="row" *ngFor="let vehicle of vehicles">
            <div class="col-12 card mb-3">
              <div class="row">
                <!--<div class="col-3">
                  <img [src]="vehicle.imgURL" class="card-img-top" alt="Photo of the car">
                </div>-->
                <!--<div class="col-9">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="card-title">{{vehicle.brand.brandName}} {{vehicle.model}}</h5>
                    </div>
                    <div class="col-12 mt-2">
                      <h6 class="card-title">{{vehicle.yearOfProduction}} {{vehicle.mileage}} {{vehicle.fuelType}}</h6>
                    </div>
                    <div class="col-12 mt-2">
                      <h6 class="card-title">{{vehicle.doorsAmount}} {{vehicle.carBodyType}}</h6>
                    </div>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
