<section class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row justify-content-center">
        <div class="col-3">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-6 align-content-start">
                  <p class="h5">Filter</p>
                </div>
                <div class="col-6 align-content-end">
                  <button type="button" class="btn btn-link ms-auto me-0">Wyczyść wszystkie filtry</button>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <div class="row">
                <div class="col">
                  <p class="h5">Sortuj</p>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Wybierz typ</option>
                    <option *ngFor="let sort of sortingTypes; let i = index" value="{{i+1}}">{{sort.typeName}}</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <div class="row">
                <h5>Marka/Model</h5>
                <div class="col-12">
                  <label for="BrandDataList" class="form-label">Brand</label>
                  <input class="form-control" list="BrandDatalistOptions" id="BrandDataList" placeholder="Brand">
                  <datalist id="BrandDatalistOptions">
                  </datalist>
                </div>
                <div class="col-12">
                  <label for="ModelDataList" class="form-label">Model</label>
                  <input class="form-control" list="ModelDatalistOptions" id="ModelDataList" placeholder="Model">
                  <datalist id="ModelDatalistOptions">
                  </datalist>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <h5>Rodzaj Paliwa</h5>
              <div class="row">
                <div class="col m-1" *ngFor="let fuel of fuelTypes">
                  <input type="checkbox" class="btn-check" id="{{fuel.typeName}}Btn" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{fuel.typeName}}Btn">{{fuel.typeName}}</label>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <h5>Cena Za Dzień</h5>
              <div class="row">
                <div class="col-12 m-1" *ngFor="let price of priceTypes">
                  <input type="checkbox" class="btn-check" id="{{price.typeName}}Btn" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{price.typeName}}Btn">{{price.typeName}}</label>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <h5>Typ Nadwozia</h5>
              <div class="row">
                <div class="col-12 m-1" *ngFor="let carbody of carbodyTypes">
                  <input type="checkbox" class="btn-check" id="{{carbody.typeName}}" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{carbody.typeName}}">{{carbody.typeName}}</label>
                </div>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <h5>Skrzynia Biegów</h5>
              <div class="row">
                <div class="col-12 m-1" *ngFor="let transmission of transmissionTypes">
                  <input type="checkbox" class="btn-check" id="{{transmission.typeName}}" autocomplete="off">
                  <label class="btn btn-outline-primary" for="{{transmission.typeName}}">{{transmission.typeName}}</label>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="col-9">
          <div class="row">
              <div class="col-12">
                <img [src]="mainBanner" class="w-100" alt="main banner" />
              </div>
          </div>
          <div class="row" *ngFor="let vehicle of data">
            <div class="col-12 card mb-3">
              <div class="row">
                <div class="col-3">
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                </div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="card-title">{{vehicle.brand}} {{vehicle.model}}</h5>
                    </div>
                    <div class="col-12 mt-2">
                      <h6 class="card-title">{{vehicle.yearOfProduction}} {{vehicle.mileage}} {{vehicle.fuelType}}</h6>
                    </div>
                    <div class="col-12 mt-2">
                      <h6 class="card-title">{{vehicle.doorsAmount}} {{vehicle.carBodyType}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
