a.nav-link.start {
  color: #FE7BE5;
}

a.nav-link.new-app {
  color: #FE7BE5;
}

a.nav-link {
  display: inline-block;
  font-weight: 700;
  color: #7743DB;
}

@media (max-width: 768px) {
  .navbarContainer {
    border-bottom-style: solid;
    border-bottom-width: 0.2px;
    border-bottom-color: #7743DB;
  }
}

@media (min-width: 992px) {
  a.nav-link {
    font-size: 1.0rem;
  }
}

@media (min-width: 1200px) {
  a.nav-link {
    font-size: 1.25rem;
  }
}

@media (max-width: 992px) {
  .navContainer {
    justify-content: start!important;
  }
  a.nav-link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.nav-link {
  transition: text-decoration 2s;
  transition: transform 0.7s;
}

.nav-link:hover {
  text-decoration: underline;
  transform: translateY(-3px);
}


