<section class="container-fluid">
  <div class="row px-0">
    <div class="col-12">
      <img [src]="mainBanner" class="w-100 d-none d-md-block" alt="main banner" />
    </div>
  </div>
  <div class="container-fluid">
    <div class="row px-0">
      <div class="col-md-6 col-12 image-container px-0 d-flex justify-content-center order-md-1 order-1">
        <img [src]="accessibility" alt="We are accessible 24/7" />
      </div>
      <div class="col-md-6 col-12 px-0 d-flex justify-content-center align-items-center order-md-2 order-2">
        <div class="col-8 px-0">
          <h2 class="headingGroup text-center mb-3">Dostępność 24/7</h2>
          <p class="lead text-center">
            Nasza wypożyczalnia oferuje możliwość wynajęcia samochodu o dowolnej porze dnia i nocy, włącznie z weekendami.
            To znaczy, że Klienci mogą dostosować podróż do swojego harmonogramu bez ograniczeń.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12 px-0 d-flex justify-content-center align-items-center order-md-1 order-2">
        <div class="col-8 px-0">
          <h2 class="headingGroup text-center mb-3">Dostępność w całym kraju</h2>
          <p class="lead text-center">
            Nasza oferta obejmuje nie tylko największe miasta, ale także wiele innych lokalizacji w całej Polsce.
            Dzięki temu nasi Klienci mogą liczyć na samochód tam, gdzie go potrzebują.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12 image-container px-0 d-flex justify-content-center order-md-2 order-1">
        <img [src]="inWholeCountry" alt="We are accessible 24/7" />
      </div>
    </div> 
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12 image-container px-0 d-flex justify-content-center order-md-1 order-1">
        <img [src]="forEveryBudget" alt="Our cars are for every budget" />
      </div>
      <div class="col-md-6 col-12 px-0 d-flex justify-content-center align-items-center order-md-2 order-2">
        <div class="col-8 px-0">
          <h2 class="headingGroup text-center mb-3">Wiele możliwości</h2>
          <p class="lead text-center">
            W naszej ofercie zawsze znajdziesz coś dopasowanego do swojego budżetu.
            Niezależnie od tego, czy szukasz oszczędnych opcji, czy też chcesz cieszyć się pełnym luksusem, mamy różnorodne możliwości dla każdego.
          </p>
        </div>
      </div>
    </div>  
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-12 px-0 d-flex justify-content-center align-items-center order-md-1 order-2">
        <div class="col-8 px-0">
          <h2 class="headingGroup text-center mb-3">Świadomość ekologiczna</h2>
          <p class="lead text-center">
            W naszej ofercie zapewniamy klientom dostęp do paliwooszczędnych samochodów, które zostały specjalnie zaprojektowane w celu minimalizowania zużycia paliwa.
            Dzięki temu nasi klienci mogą cieszyć się nie tylko wygodną i komfortową podróżą, ale także przyczynić się do ochrony środowiska.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12 image-container px-0 d-flex justify-content-center order-md-2 order-1">
        <img [src]="ecological" alt="We are accessible 24/7" />
      </div>
    </div>
  </div>
</section>
