<section class="pt-3 pb-3">
  <form [formGroup]="addCarForm" (ngSubmit)="submitForm()">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-8 mb-3 position-relative customBrandSelectAlias customBrandSelect">
          <label for="customBrandSelect" class="form-label">Marka pojazdu</label>
          <input [(ngModel)]="brandSearchTerm" [ngModelOptions]="{ standalone: true }" type="text" class="form-control" placeholder="Marka pojazdu" (click)="displayBrandSelectOptions()">
          <div class="options position-absolute w-auto" formGroupName="brandOptions" *ngIf="areBrandsLoaded && !brandOptionsHidden">
            <div class="option d-flex" *ngFor="let brand of filterBrands()">
              <input type="checkbox" id="{{brand.brandName}}" name="{{brand.brandName}}" formControlName="{{brand.brandName}}" (change)="updateChoice('brand', brand.brandName)" />
              <label class="label-box flex-grow-1" for="{{brand.brandName}}">{{brand.brandName}}</label>
            </div>
          </div>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('brandOptions')?.hasError('atLeastOne')">
            Marka pojazdu jest wymagana.
          </div>
        </div>
        <div class="col-8 mb-3 position-relative customModelSelectAlias customModelSelect">
          <label for="customModelSelect" class="form-label">Marka pojazdu</label>
          <input [(ngModel)]="modelSearchTerm" [ngModelOptions]="{ standalone: true }" type="text" class="form-control" placeholder="Model pojazdu" (click)="displayModelSelectOptions()">
          <div class="options position-absolute w-auto" formGroupName="modelOptions" *ngIf="!modelOptionsHidden">
            <div class="option d-flex" *ngFor="let model of filterModels()">
              <input type="checkbox" id="{{model.modelName}}" name="{{model.modelName}}" formControlName="{{model.modelName}}" (change)="updateChoice('model', model.modelName)" />
              <label class="label-box flex-grow-1" for="{{model.modelName}}">{{model.modelName}}</label>
            </div>
          </div>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('modelOptions')?.hasError('atLeastOne')">
            Model pojazdu jest wymagany.
          </div>
        </div>
        <div class="col-8 mb-3">
          <label for="YearOfProdSelect" class="form-label">Rok produkcji</label>
          <select formControlName="yearOfProduction" class="form-select" id="YearOfProdSelect">
            <option value="" selected>Rok produkcji</option>
            <option *ngFor="let year of years" [value]="year.year">{{year.year}}</option>
          </select>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('yearOfProduction')?.hasError('required')">
            Rok produkcji jest wymagany.
          </div>
        </div>
        <div class="col-8 mb-3">
          <div class="input-group">
            <label for="mileageInput" class="form-label w-100">Przebieg</label>
            <input formControlName="mileage" id="mileageInput" type="text" class="form-control" placeholder="Przebieg">
          </div>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('mileage')?.hasError('required')">
            Przebieg jest wymagany.
          </div>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('mileage')?.hasError('pattern')">
            Przebieg może przyjmować tylko wartości liczbowe.
          </div>
        </div>
        <div class="col-8 mb-3 position-relative customFuelSelectAlias">
          <label for="customSelect" class="form-label">Rodzaj paliwa</label>
          <div class="customSelect" id="customSelect" (click)="displayFuelSelectOptions()" tabindex="0">
            <ng-container *ngIf="chosenFuels.length > 0; else elseBlock">
              <span *ngFor="let fuel of chosenFuels">
                {{fuel}}
              </span>
            </ng-container>
            <ng-template #elseBlock>Wybierz rodzaj paliwa</ng-template>
          </div>
          <div class="options position-absolute w-auto" formGroupName="fuelOptions" *ngIf="areFuelsLoaded && !fuelOptionsHidden">
            <div class="option d-flex" *ngFor="let fuel of fuels">
              <input type="checkbox" id="{{fuel.fuelName}}" name="{{fuel.fuelName}}" formControlName="{{fuel.fuelName}}" (change)="updateChoosenFuels(fuel.fuelName)" />
              <label class="label-box flex-grow-1" for="{{fuel.fuelName}}">{{fuel.fuelName}}</label>
            </div>
          </div>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('fuelOptions')?.hasError('atLeastOne')">
            Co najmniej 1 typ paliwa jest wymagany.
          </div>
        </div>
        <div class="col-8 mb-3">
          <label for="TransmissionTypeSelect" class="form-label">Rodzaj skrzyni biegów</label>
          <select formControlName="transmissionType" class="form-select" id="TransmissionTypeSelect">
            <option value="" selected>Rodzaj skrzyni biegów</option>
            <option *ngFor="let transmissionType of transmissionTypes" [value]="transmissionType.typeName">{{transmissionType.typeName}}</option>
          </select>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('transmissionType')?.hasError('required')">
            Rodzaj skrzyni biegów jest wymagany.
          </div>
        </div>
        <div class="col-8 mb-3">
          <label for="CarbodySelect" class="form-label">Rodzaj nadwozia</label>
          <select formControlName="carbodyType" class="form-select" id="CarbodySelect">
            <option value="" selected>Rodzaj nadwozia</option>
            <option *ngFor="let carbody of carbodies" [value]="carbody.carbodyName">{{carbody.carbodyName}}</option>
          </select>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('carbodyType')?.hasError('required')">
            Rodzaj nadwozia jest wymagany.
          </div>
        </div>
        <div class="col-8 mb-3">
          <label for="vehicleImage" class="form-label">Zdjęcia pojazdu</label>
          <input formControlName="vehicleImage" class="form-control" id="vehicleImage" type="file" (change)="fileChanged($event)" multiple>
          <div class="field-message" *ngIf="submitClicked && addCarForm.get('vehicleImage')?.hasError('required')">
            Zdjęcia pojazdu są wymagane(min. 1).
          </div>
        </div>
        <div class="col-8 mb-5">
          <div class="row">
            <div class="col-4 mb-2 d-flex justify-content-center" *ngFor="let opElement of operationalEquipment">
              <input type="checkbox" class="btn-check" id="{{opElement.eqElement.elementName}}" autocomplete="off" (click)="updateValue(opElement)">
              <label class="btn btn-outline-primary" for="{{opElement.eqElement.elementName}}">{{opElement.eqElement.elementName}}</label>
            </div>
          </div>
        </div>
        <div class="col-8 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary w-auto submitBtn" (click)="onSubmit()">Dodaj pojazd</button>
        </div>
      </div>
    </div>
  </form>
</section>
